
.product{
    display: flex;
    flex-direction: column;
    max-height: 400px;
    min-width: 100px;
    width: 100%;
    /* align-items: center;  */
    justify-content: flex-end;
    padding: 20px;
    margin: 10px;
    background-color:white;
    z-index: 1;
    
    
}
.product__rating{
    display: flex;
    opacity: 1;
}
.product__info{
    /* height: 90px; */
    margin-top: 4px;
    padding: 4px; 
    
}
.product__price{
    margin-top: 5px;
}
.product > img{
    max-height: 200px;
    width: 100%;
    margin-bottom: 15px; 
    object-fit: contain;
    transition: transform 450ms; /* hieu ung css    */
    
}
.product > img:hover{
    transform: scale(1.09);
}
.product >button{
    background-color: #f0c14b;
    border: 1px solid ;
    display: flex;
    justify-content: center;
    margin: auto;
    border-color:   #a88734 #9c7e31 #846a29;
}

